html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    height: 100%;
    color: Black;
    background-color: #e5e5e5;
}

h1 {
    text-align: center;
    margin: 5px auto;
    margin-block-start: 0;
    font-size: 40px;
    color: #b71c1c;
}

#welcome {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    border: 2px solid #b71c1c;
}

#playBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2%;
    background-color: blue;
    border: 7px solid #b71c1c;
    box-shadow: 2px 2px grey;
}

#prePlayBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2%;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

.column {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
    margin: 0 auto;
}

.row {
    flex: 1;
    margin: 5px auto;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 5px solid white;
    box-shadow: 2px 2px grey;
    border-radius: 50%;
}

.precolumn {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    margin: 0 auto;
}

.prerow {
    flex: 1;
    margin: 5px auto;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 5px solid transparent;
    box-shadow: 2px 2px transparent;
    border-radius: 50%;
}

p {
    text-align: right;
    height: 30px;
    width: 45%;
    margin-right: 5%;
    margin-block-start: .2em;
    margin-block-end: .2em;
}

button {
    background-color: #b71c1c;
    color: white;
    font-size: 1em;
    border: 2px solid #b71c1c;
    border-radius: 40px;
    padding: 15px 25px;
    cursor: pointer;
}

button:hover {
    color: #b71c1c;
    font-weight: bold;
    background-color: transparent;
}

#inputs {
    width: 70%;
}

#place {
    display: flex;
    flex-direction: row;
    height: 50px;
}

input {
    height: 30px;
    width: 30%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid lightgray;
}

input:hover {}

#rows {
    width: 12%;
}

span {
    width: 2%;
    height: 30%;
    margin-block-start: .2em;
    margin-block-end: .2em;
    margin: 0px 2% 0px 2%;
}

#columns {
    width: 12%;
}

input:hover {
    border-bottom: 2px solid #d34040;
}

input:focus {
    outline: none;
    color: #b71c1c;
    border-bottom: 3px solid #b71c1c;
}

#playerStats {
    margin: 0px auto;
    width: 30%
}

#firstPlayer {
    margin: auto 0px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondPlayer {
    margin: auto 0px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-section {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
}

#allBoard {
    height: 60%;
    width: 60%;
    margin: 2% 5% 5% 5%;
}

.centeredContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
}

#p1stats {
    border: 2px solid;
    border-color: white;
}

#p2stats {
    border: 2px solid;
    border-color: white;
}

h5 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}